/* Styles for the home page */
.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    /* background: url('./luminis\ background4.png') no-repeat center center/cover; */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin-top: 260px;
    margin-bottom: 260px;
  }
  
  /* Content and text styles */
  .content {
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-family: 'Playfair Display'
  }
  
  .actionButton {
    background-color: #1B1F3B;
    border: none;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: background-color 0.3s ease-in-out;
    background-color: #b392ac;
    font-family: 'Montserrat'
  }
  
  .actionButton:hover {
    background-color: #b392ac;
    color: #1B1F3B;
  }
  
  .tagline {
    font-style: italic;
    font-size: 1.4rem;
    font-family: 'Montserrat'
  }

  .whyLudoSphere {
    text-align: center;
    margin-top: 35px; /* Space below tagline */
    font-family: 'Montserrat';
  }
  
  .whyTitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Montserrat';
  }
  
  .whySubtitle {
    font-size: 1.2rem;
    font-style: italic;
    color: #b392ac;
    margin-bottom: 20px;
    font-family: 'Montserrat';
  }
  
  .comparisonTable {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  table {
    width: 50%;
    max-width: 400px;
    border-collapse: collapse;
    background-color: rgba(179, 146, 172, 0.7); /* Semi-transparent */
    color: white;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Montserrat';
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ffffff;
  }
  
  th {
    background-color: #b392ac;
    color: white;
  }
  
  .cross {
    color: red;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    table {
      width: 80%;
    }
  }
  
  .productsSection {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
  }
  
@media (max-width: 1200px) {

    .general-info p {
        font-size: 17px;
    }

    .general-info h2 {
        font-size: 26px;
    }
}

@media (max-width: 992px) {
    .general-info p {
        font-size: 15px;
    }

    .general-info h2 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .homeContainer {
        margin-top: 440px;
        margin-bottom: 440px;
    }

    .general-info p {
        font-size: 13px;
    }

    .general-info h2 {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    .general-info{
        padding:1px;
        padding-top: 80px;
    }

    .general-info p:hover {
        transform: translateX(3px);
    }

    .general-info p {
        font-size: 16px;
    }

    .general-info h2 {
        font-size: 20px;
    }
    
    /* .title {
      margin-top: 10px;
    } */
}

