.footer {
    background-color: white; /* Основен син цвят */
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%; /* Заема цялата ширина на вида */
    box-sizing: border-box; /* Включва падинг и рамка в широчината */
    position: flex;
    bottom: 0;
    font-family: 'Montserrat';
}

.link{
    color: inherit; /* Наследява цвета на родителя или го променете на желания */
    text-decoration: none; /* Премахва подчертаването */
    font-family: 'Montserrat';
}

    .link:hover{
        text-decoration: underline;
    }

.linkPrivacy{
    color: inherit; /* Наследява цвета на родителя или го променете на желания */
    text-decoration: none; /* Премахва подчертаването */
    font-family: 'Montserrat';
}

    .linkPrivacy:hover{
        text-decoration: underline;
    }

.socialLinks a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px; /* Подходящ размер на шрифта за социални връзки */
}

    .socialLinks a:hover {
        color:white;
        text-decoration: underline; /* Подчертаване при ховър */
    }

.fixedFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}
    
/* Медийни заявки за футъра */
@media (max-width: 768px) {
    .footer {
        padding: 10px; /* Намалява падинга на по-малки устройства */
    }

    .socialLinks a {
        font-size: 14px; /* Намалява размера на шрифта на социалните връзки */
        margin: 0 5px; /* Намалява разстоянието между социалните връзки */
    }
    
    .link{
        text-decoration: underline;
    }

    .linkPrivacy{
        text-decoration: underline;
    }

}

@media (max-width: 600px) {
    /*.socialLinks {
        display: block;*/ /* Променя разположението на блок за по-добър визуален ред */
    /*}*/

        /*.socialLinks a {
            display: inline-block;*/ /* Позволява по-добро управление на стиловете */
            /*width: 100%;*/ /* Заема цялата налична ширина */
            /*margin: 10px 0;*/ /* Увеличава вертикалните маржини за разделение */
            /*font-size: 12px;*/ /* Още по-малък шрифт за много малки устройства */
        /*}*/
}
