/* Глобални стилове за приложението */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif; /* Чист и прост шрифт, подходящ за детски сайт */
    font-family: 'Montserrat';
    /*padding-top: 25px;*/ /* Това число трябва да отговаря на височината на хедъра */
}

.App {
    background-color: white; /* Светло синьо, което е меко и приятно за очите */
    /* background: url('./pages/Home/luminis\ background7.png') no-repeat center center/cover; */
    color: #333; /* Тъмен сив цвят за текст, който се откроява добре на светлия фон */
    min-height: 100vh; /* Подсигурява, че приложението покрива цялата височина на вида */
    padding: 0px; /* Отстояние от всички страни */
    display: flex;
    flex-direction: column; /* Управление на основната ориентация на компонентите */
    align-items: center; /* Центрира компонентите хоризонтално */
    font-family: 'Montserrat';
}

nav a {
    color: black; /* Цвят на връзките в навигацията */
    text-decoration: none; /* Премахва подчертаването на връзките */
    margin: 0 10px; /* Разстояние между навигационните връзки */
    font-family: 'Montserrat';
}

    nav a:hover {
        text-decoration: none; /* Добавя подчертаване при ховър за по-добра интерактивност */
    }

main {
    flex-grow: 1; /* Осигурява, че основното съдържание заема наличното пространство */
    width: 100%; /* Ширина на основното съдържание */
    font-family: 'Montserrat';
}


h1{
    color: black;
}

p{
    color: black;
}